html,
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header {
  width: 100%;
  position: relative;
  display: flex;
  height: 70px;
  color: #eeeeee;
  background-color: #1e1e1e;

  align-items: center;
  justify-content: center;
}

header > span {
  font-size: 1.4rem;
  font-weight: 900;
}

/* BOTAO { */

header > a {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  font-size: large;
  color: #eeeeee;
  text-decoration: none;
}

header > a:hover {
  cursor: pointer;
  font-weight: bold;
}

header > a > span {
  height: 1rem;
  width: 1rem;
  text-align: center;
}

/* BOTAO } */

div.content {
  flex: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  background: rgb(16, 16, 163);
  background: radial-gradient(
    circle,
    rgba(16, 16, 163, 1) 60%,
    rgba(12, 77, 186, 1) 100%,
    rgba(21, 126, 255, 1) 100%
  );
}

/* Styles */

main {
  flex: auto;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border-radius: 15px;
  background-color: #1e1e1e;

  display: flex;
  font-family: Consolas, monaco, monospace;
}
